name: anychat_flutter
description: AnyChat IM SDK for Flutter (Android, iOS, Windows, Linux, macOS)
version: 0.1.0
homepage: https://github.com/yzhgit/anychat-sdk

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  ffigen: ^11.0.0
  flutter_lints: ^3.0.0

# FFI plugin configuration
flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
      linux:
        ffiPlugin: true
      macos:
        ffiPlugin: true
      windows:
        ffiPlugin: true
