name: anychat_sdk
description: Flutter SDK for the AnyChat instant messaging system.
version: 0.1.0
homepage: https://github.com/yzhgit/anychat-sdk

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.anychat.sdk
        pluginClass: AnyChatSdkPlugin
      ios:
        pluginClass: AnyChatSdkPlugin
